/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --bg-accent: #ff0070;
  --accent-color: #ff0070;
  --button-hover-border: #ff007066;
  --text-color: #f1b2ce;
  --text-title-color: #000028;
  --accent-text-color: #db00ff;
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .theme_auto {
    background-image: url(../images/cover-image-dark.png);
  }
}
